<html>
<head>
  <style>
  body {
    background-color: powderblue;
  }
  </style>
   <!-- The param which is passed from render-->
   <title><%= title %></title>
</head>
<body>
<div>
   <a href="/">Home</a> |
   <!--
   <a href="/users/add">Add Player</a> |
   -->
    <a href="/users">All Players</a> |
    <!--reference javascript game-->
    <a href="">PLAY</a>
</div>
<h1><%= title %></h1>
